.contactListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid lightgrey;
}

.contactListItemText {
  margin-right: 10px;
  
  
}
.list {
  width: 100%;
  padding: 0px;
  background-color: #f0e4c3;
}

.deleteButton {
  display: block;
  width: 130px;
  height: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
  align-items: center;
 
}